@charset "utf-8";

body {
  min-width: 1300px;
}

section.container {
  position: relative;
  width: 1300px;
  height: 375px;
  margin: 0 auto;
  overflow: hidden;
}

div.banner {
  width: 9100px;
  height: 375px;
  transform: translate(-1300px);
}

div.banner div {
  width: 1300px;
  height: 375px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
}

div.arrow {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  font-size: 2rem;
  background-color: #0000005c;
  color: white;
}

div.prev {
  right: 70px;
  bottom: 10px;
}
div.next {
  right: 10px;
  bottom: 10px;
}

div.dots {
    position: absolute;
    width: 110px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

div.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #313131;
}

